{% extends "index.html" %}
{% load staticfiles %}

{% block main %}
	<br>
	<form method="post" class="form-horizontal">
		{% csrf_token  %}
		{% for hidden in form.hidden_filds %}
			{{ hidden }}
		{% endfor %}

		<div class="form-group">
			<label for="{{ form.name.id_for_label }}" 
			 	   class ="col-sm-2 control-label" > {{ form.name.label }}
			</label>
			<div class="col-sm-8">
				{{ form.name }}
			</div>
		</div>
		<div class="form-group">
			<label for="{{ form.lastname.id_for_label }}" 
			 	   class ="col-sm-2 control-label" > {{ form.lastname.label }}
			</label>
			<div class="col-sm-8">
				{{ form.lastname }}
			</div>
		</div>
		<div class="form-group">
			<label for="{{ form.subject_student.id_for_label }}" 
			 	   class ="col-sm-2 control-label" > {{ form.subject_student.label }}
			</label>
			<div class="col-sm-8">
				{{ form.subject_student }}
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-8">
				<input class="btn btn-primary pull-right" type="submit" name="submit" value="Save">
			</div>
		</div>
	</form>


{% endblock %}
